:root {
  --color-main: #092169;
  --color-highlight: #AF8240;
  --color-text: #484848;

  --white: #fff;
  --black: #000;
  --red: #da0808;
  --green: #009a45;
  --yellow: #FFBD5D;
  --light: #e5e5e5;
  --blue: #007bff;
  --purple: #6f42c1;
  --pink: #fb4e4e;
  --teal: #20c997;
  --orange: #f39406;
  --cyan: #00c2ff;
  --gray: #898989;
}

/* Background */
.bg-white {
  background-color: var(--white);
}

.bg-light {
  background-color: var(--light);
}

.bg-gray {
  background-color: var(--gray);
}
/* End Background */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y: scroll;
  color: var(--color-text);
}

a:hover {
  text-decoration: none;
}

.swiper-container {
  overflow: hidden;
}

input:focus {
  outline: none;
}

/* Custom Bootstrap */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 8px;
  padding-left: 8px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}
/* End Custom Bootstrap */

/* Margin */
.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}
/* End Margin */

/* Padding */
.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-16 {
  padding-top: 15px;
}

.pb-16 {
  padding-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}
/* End Padding */

/* Scrollbar */
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: var(--light);
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: var(--light);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
}
/* End Scrollbar */

/* Button */
.button-outline {
  display: inline-block;
  color: var(--color-main);
  border: 1px solid var(--color-highlight);
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
}

.button-outline:hover {
  color: var(--color-highlight);
  border: 1px solid var(--color-main);
}
/* End Button */

/* Header Topbar */
.header-topbar {
  background: var(--color-main);
  padding: 10px 0;
  display: none;
}

.header-topbar__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

.header-topbar__phone {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}

.header-topbar__phone:hover {
  color: var(--color-highlight);
}

.header-topbar__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex: 1;
}

.header-topbar__search {
  flex: 1;
}

.header-topbar__search form {
  position: relative;
}

.header-topbar__search input {
  width: 100%;
  background: #EFEFEF;
  color: #000;
  border: 0;
  border-radius: 19px;
  padding: 9px 50px 9px 16px;
}

.header-topbar__search button {
  background: none;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 38px;
  width: 50px;
}

.btn-login {
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 7px 16px;
  color: var(--color-main);
  white-space: nowrap;
}

.btn-login:hover {
  color: var(--color-main);
}

.btn-login img {
  margin-right: 8px;
}

.header-topbar__left {
  margin-right: 20px;
}

.header-topbar__right .btn-login {
  margin-left: 24px;
}

@media (max-width: 767px) {
  .header-topbar__wrap {
    flex-wrap: wrap;
  }

  .header-topbar__right {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-topbar__left {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-topbar__search {
    width: 100%;
    flex: none;
    margin-bottom: 8px;
  }

  .header-topbar__right .btn-login {
    margin-left: 0;
  }

  .btn-login {
    width: 49%;
  }
}
/* End Header Topbar */

/* Header Main */
.header-main {
  padding: 10px 0;
  background: var(--white);
}

.header-main.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -moz-box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.fixed {
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: anim_titles;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.header-main__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  max-height: 80px;
  max-width: 100%;
  height: auto;
}
/* End Header Main */

/* Header Menu */
.header-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu__item {
  margin-left: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header-menu__link {
  font-size: 16px;
  color: var(--color-text);
  display: inline-block;
  position: relative;
  text-align: center;
  flex: 1;
}

.header-menu__link:hover {
  color: var(--color-main);
}

.header-menu__link.active {
  font-weight: 600;
  color: var(--color-main);
}

.header-menu__link.active::after, .header-menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10%;
  width: 80%;
  height: 4px;
  background: var(--color-main);
}

.header-menu__link-dropdown {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.header-menu__sub {
  width: 100%;
}

.header-menu__overlay, .header-menu__btn-open, .header-menu__btn-close {
  display: none;
}

@media (min-width: 992px) {
  .header-menu__sub {
    position: absolute;
    top: 100%;
    padding-top: 38px;
    z-index: 1;
    min-width: 240px;
    display: none;
  }
  
  .header-menu__sub-list {
    padding: 0;
    margin: 0;
    list-style: none;
    background: var(--white);
  }
  
  .header-menu__sub-link {
    display: block;
    padding: 6px 10px;
    color: var(--color-text);
  }
  
  .header-menu__sub-link:hover {
    color: var(--color-text);
    background: #F6F6F6;
  }

  .header-menu__item:hover .header-menu__sub {
    display: block;
  }
}

@media (max-width: 991px) {
  .header-menu__list {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--color-main);
    z-index: 999;
    height: 100vh;
    width: 300px;
    max-width: 80%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.51, 0.82);
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.51, 0.82);
  }

  .header-menu.show .header-menu__list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .header-menu__item {
    margin-left: 0;
    border-bottom: 1px solid var(--color-highlight);
  }

  .header-menu__link-dropdown {
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-highlight);
    border-left: 1px solid var(--color-highlight);
    padding-left: 0;
  }

  .header-menu__item.show .header-menu__link {
    border-bottom: 1px solid var(--color-highlight);
  }

  .header-menu__item.show .header-menu__link-dropdown {
    border-bottom: 1px solid var(--color-highlight);
  }

  .header-menu__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    color: var(--white);
  }

  .header-menu__link i {
    padding: 2px 16px;
  }

  .header-menu__link.active, .header-menu__link:hover {
    color: var(--white);
    background: var(--color-highlight);
  }

  .header-menu__btn-open {
    display: block;
    font-size: 28px;
    color: var(--color-main);
  }

  .header-menu__btn-close {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: var(--white);
    z-index: 999;
  }

  .header-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000b8;
    z-index: 99;
  }

  .header-menu.show .header-menu__list, .header-menu.show .header-menu__btn-close, .header-menu.show .header-menu__overlay {
    display: block;
  }

  .header-menu__link.active::after, .header-menu__link:hover::after {
    display: none;
  }

  .header-menu__sub {
    display: none;
  }

  .header-menu__item.show .header-menu__sub {
    display: block;
  }

  .header-menu__sub-list {
    padding: 0;
    list-style: none;
    background: var(--white);
  }
  
  .header-menu__sub-link {
    display: block;
    padding: 6px 10px;
    color: var(--color-text);
  }
  
  .header-menu__sub-link:hover {
    color: var(--color-text);
    background: #F6F6F6;
  }
}
/* End Header Menu */

/* Box Search */
.box-search {
  padding: 45px 0;
  background-image: url(../images/background/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.box-search:before {
  background: #092169;
  opacity: 0.7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-search__wrap {
  position: relative;
  text-align: center;
}

.box-search__title {
  color: #FFBD5D;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box-search__desc {
  color: #fff;
  margin-bottom: 38px;
}

.box-search__form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.box-search__form select {
  border: 0;
  background: #EFEFEF;
  border-radius: 10px 0 0 10px;
  padding: 10px 18px;
  color: var(--color-text);
  height: 52px;
  border-right: 1px solid #707070;
}

.box-search__form input {
  border: 0;
  background: #EFEFEF;
  padding: 10px 18px;
  color: var(--color-text);
  height: 52px;
  flex: 1;
  max-width: 500px;
}

.box-search__form button {
  background: var(--color-highlight);
  border: 0;
  height: 52px;
  width: 80px;
  border-radius: 0 10px 10px 0;
}

.box-search__form button img {
  filter: brightness(0) invert(1);
}

.box-search__key {
  margin-top: 30px;
}

.box-search__key-title {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.box-search__key-list a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 45px;
  margin: 5px;
}

.box-search__key-list a:hover {
  background: var(--color-highlight);
}

@media (max-width: 480px) {
  .box-search__form form {
    flex-wrap: wrap;
  }

  .box-search__form select {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4px;
  }

  .box-search__form input {
    border-radius: 10px 0 0 10px;
  }
}
/* End Box Search */

/* Box Highlight */
.box-highlight {
  padding: 80px 0 30px;
}

.box-highlight .col-md-2 {
  margin-bottom: 16px;
}

.box-highlight__item {
  background: #F1F4FF;
  border-radius: 10px;
  padding: 20px 10px;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.box-highlight__item img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.box-highlight__item-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 18px;
  color: var(--color-main);
}

.box-highlight__item:hover {
  background: #FFBD5D;
}

.swiper-slide-thumb-active .box-highlight__item {
  background: var(--color-main);
}

.box-highlight__item:hover .box-highlight__item-title, .swiper-slide-thumb-active .box-highlight__item-title {
  color: var(--white);
}

.box-highlight__item:hover img, .swiper-slide-thumb-active .box-highlight__item img {
  filter: brightness(0) invert(1);
}

.box-highlight .swiper-button-next:after, .box-highlight .swiper-button-prev:after {
  font-size: 20px;
}
/* End Box Highlight */

/* Box Blog */
.box-blog .swiper-slide {
  background: var(--white);
}

.blog-item {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.blog-item__image {
  position: relative;
  padding-top: 70%;
}

.blog-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item__content {
  padding-top: 8px;
}

.blog-item__title {
  margin-bottom: 12px;
}

.blog-item__title a {
  color: var(--color-main);
  font-weight: bold;
  font-size: 18px;
}

.blog-item__desc {
  font-size: 14px;
  margin-bottom: 12px;
}

.blog-item__link {
  font-size: 14px;
  color: var(--color-main);
}
/* End Box Blog */

/* Box Blog Right */
.blog-right {
  background: #F9F9F9;
  padding: 16px 8px;
}

.blog-right__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 16px;
}
/* End Box Blog Right */

/* Box Text */
.box-text {
  background: var(--color-main);
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 80px;
}

.box-text__wrap {
  text-align: center;
  color: var(--white);
}

.box-text__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 8px;
}

.box-text__desc {
  font-size: 24px;
}
/* End Box Text */

/* Box Training */
.box-training__head {
  text-align: center;
  margin-bottom: 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.box-training__title {
  font-size: 36px;
  color: var(--color-main);
  font-weight: bold;
}

.box-training__desc {
  margin-top: 6px;
}

.box-training__wrap {
  position: relative;
  padding-right: 60px;
}

.box-training__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;
}

.box-training__item-image {
  position: relative;
  padding-top: 66%;
}

.box-training__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-training__item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 16px;
  background-image: linear-gradient(#09216900, #051135);
}

.box-training__item-title a {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.box-training__item-desc {
  font-size: 14px;
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 20px;
}

.box-training__item-link {
  color: #FFBD5D;
  font-size: 14px;
}

.box-training__item--highlight .box-training__item-image {
  padding-top: 136.5%;
}

.box-training__read-more {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  background: var(--white);
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .box-training__wrap {
    padding-right: 0;
  }

  .box-training__read-more {
    top: 100%;
    left: calc(50% - 20px);
    right: auto;
  }

  .box-training__read-more i:before {
    content: "\f078";
  }
}
/* End Box Training */

/* Box Intro */
.box-intro {
  margin-top: 64px;
  margin-bottom: 80px;
}

.box-intro__image img {
  width: 100%;
  height: auto;
}

.box-intro__title {
  font-size: 36px;
  color: var(--color-main);
  font-weight: bold;
}

.box-intro__desc {
  margin-top: 6px;
  margin-bottom: 46px;
}

.box-intro__link {
  display: inline-flex;
  align-items: center;
  background: var(--color-main);
  padding: 10px 18px;
  border-radius: 5px;
  color: var(--white);
}

.box-intro__link:hover {
  color: var(--white);
}

.box-intro__link img {
  margin-right: 16px;
}
/* End Box Intro */

/* Box Conform */
.box-conform {
  background-image: url(../images/background/bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.box-conform__wrap {
  text-align: center;
}

.box-conform__title {
  font-size: 36px;
  font-weight: 600;
  color: #FFBD5D;
  margin-bottom: 16px;
}

.box-conform__desc {
  font-size: 18px;
  color: var(--white);
  margin-bottom: 30px;
}

.box-conform__link {
  display: inline-flex;
  align-items: center;
  background: var(--color-main);
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  padding: 10px 18px;
  margin: 8px;
}

.box-conform__link:hover {
  color: var(--white);
}

.box-conform__link img {
  margin-right: 16px;
}
/* End Box Conform */

/* Box Knowledge */
.box-knowledge {
  margin-top: 80px;
  margin-bottom: 64px;
}

.box-knowledge__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  text-align: center;
  margin-bottom: 40px;
}

.box-knowledge__item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.box-knowledge__item-image {
  width: 36%;
  position: relative;
  padding-top: 26%;
}

.box-knowledge__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-knowledge__item-content {
  flex: 1;
  margin-left: 16px;
}

.box-knowledge__item-title {
  margin-bottom: 4px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.box-knowledge__item-title a {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-main);
}

.box-knowledge__item-desc {
  font-size: 14px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 4px;
}

.box-knowledge__item-meta span {
  font-size: 12px;
  color: #A7A7A7;
  margin-right: 20px;
}

.box-knowledge__item-highlight .box-knowledge__item-image {
  width: 100%;
  padding-top: 60%;
}

.box-knowledge__item-highlight .box-knowledge__item-content {
  margin-left: 0;
  margin-top: 16px;
}
/* End Box Knowledge */

/* Box Partners */
.box-partners {
  background: #F6F6F6;
  padding: 30px 0;
}

.box-partners__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  text-align: center;
  margin-bottom: 30px;
}

.box-partners__item {
  background: var(--color-main);
  border-radius: 10px;
  padding: 20px;
}

.box-partners__item a {
  display: block;
  position: relative;
  padding-top: 30%;
}

.box-partners__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* End Box Partners */

/* Box Email */
.box-email {
  margin-top: 30px;
}

.box-email__main {
  background-image: url(../images/background/bg-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
  border-radius: 30px;
  overflow: hidden;
}

.box-email__wrap {
  max-width: 600px;
  width: 100%;
}

.box-email__title {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 20px;
}

.box-email__desc {
  margin-bottom: 40px;
}

.box-email__form form {
  display: flex;
  align-items: center;
}

.box-email__form input {
  background: #F2F2F2;
  border: 0;
  flex: 1;
  padding: 16px;
  color: var(--color-main);
}

.box-email__form button {
  background: #FFBD5D;
  border: 0;
  font-size: 16px;
  color: var(--white);
  padding: 16px;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .box-email__main {
    padding: 20px;
  }

  .box-email__title {
    font-size: 24px;
  }

  .box-email__form form {
    flex-wrap: wrap;
  }

  .box-email__form input {
    width: 100%;
    margin-bottom: 8px;
  }

  .box-email__form button {
    width: 100%;
  }
}
/* End Box Email */

/* Footer */
.footer {
  background-image: url(../images/background/bg-footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--white);
  margin-top: 30px;
}

.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-main);
  opacity: 0.65;
}

.footer a {
  color: var(--white);
}

.footer a:hover {
  color: #FFBD5D;
}

.footer-main {
  padding: 30px 0;
  position: relative;
}

.footer-main__info {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--white);
  margin-bottom: 20px;
}

.footer-main__info-logo {
  margin-bottom: 30px;
}

.footer-main__info-logo img {
  width: 110px;
  height: auto;
}

.footer-main__info-name {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-main__info-list p {
  margin-bottom: 10px;
}

.footer-main__social {
  margin-bottom: 30px;
}

.footer-main__social-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-main__social-list a {
  font-size: 22px;
  margin-right: 20px;
}

.footer-main__menu {
  margin-bottom: 30px;
}

.footer-main__menu-title {
  font-weight: 600;
  border-bottom: 1px solid var(--white);
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.footer-main__menu-title img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.footer-main__menu-list a {
  display: block;
  margin-bottom: 10px;
}

.footer-copyright {
  position: relative;
  border-top: 1px solid var(--white);
  padding: 10px 0;
}

.footer-copyright__text {
  text-align: center;
  font-size: 13px;
}
/* End Footer */

/* Button Fixed */
.button-fixed {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.button-fixed a {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-fixed img {
  width: 36px;
}

#return-to-top {
  display: none;
}

@media (max-width: 991px) {
  .button-fixed {
    right: 16px;
  }

  .button-fixed a {
    margin-bottom: 16px;
  }

  .button-fixed img {
    width: 26px;
    height: auto;
  }
}
/* End Button Fixed */

/* Box Head */
.box-head {
  margin-bottom: 30px;
}

.box-head__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  text-align: center;
  text-transform: uppercase;
}

.box-head__desc {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.box-head__desc p {
  margin-bottom: 4px;
}
/* End Box Head */

/* Box Category */
.box-category {
  border: 1px solid #E6E6E6;
  margin-bottom: 30px;
}

.box-category__title {
  background: var(--color-main);
  color: var(--white);
  padding: 10px 16px;
  font-size: 20px;
  font-weight: 600;
}

.box-category__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  color: var(--color-text);
  border-top: 1px solid #E6E6E6;
}

.box-category__item.active, .box-category__item:hover {
  background: #F2F2F2;
  color: var(--color-text);
}
/* End Box Category */

/* Breadcrumb */
.breadcrumb {
  background: #F2F2F2;
  margin-bottom: 30px;
  padding: 0;
}

.breadcrumb__wrap {
  padding: 10px 0;
}

.breadcrumb__wrap a {
  color: #B8B8B8;
  display: inline-block;
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}

.breadcrumb__wrap a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 2px;
  height: 20px;
  border-right: 1px solid #B8B8B8;
}

.breadcrumb__wrap a:hover, .breadcrumb__wrap a:last-child {
  color: var(--color-text);
}

.breadcrumb__wrap a:last-child:after {
  display: none;
}
/* End Breadcrumb */

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  color: var(--color-text);
  margin-left: 8px;
}

.pagination a:hover {
  background: #EBEBEB;
}

.pagination a.active {
  color: var(--white)!important;
  background: var(--color-main)!important;
}
/* End Pagination */

/* Box Service Intro */
.service-intro {
  margin-bottom: 60px;
}

.service-intro__image {
  position: relative;
  padding: 16px;
  background: linear-gradient(to right, var(--color-main) 50%, var(--white) 50%);
}

.service-intro__image img {
  width: 100%;
  height: auto;
}

.service-intro__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 130px;
  height: 4px;
  background: #FFBD5D;
}

.service-intro__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 16px;
}

.service-intro__desc {
  margin-bottom: 22px;
}

@media (max-width: 991px) {
  .service-intro__content {
    margin-top: 30px;
  }
}
/* End Box Service Intro */

/* Box Service Blog */
.service-blog__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.service-blog-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 16px;
}

.service-blog-item__image {
  position: relative;
  padding-top: 66%;
}

.service-blog-item__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-blog-item__content {
  padding: 14px;
}

.service-blog-item__title {
  margin-bottom: 14px;
}

.service-blog-item__title a {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-main);
}

.service-blog-item__desc {
  margin-bottom: 30px;
}

.service-blog-item__link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
  background: var(--color-main);
  padding: 10px 30px;
}

.service-blog-item__link:hover {
  color: var(--white);
  background: var(--color-highlight);
}

.service-blog-item__link i {
  margin-left: 10px;
}
/* End Box Service Blog */

/* Box Service Highlight */
.service-highlight {
  background-image: url(../images/background/bg-4.png);
  margin-top: 46px;
  margin-bottom: 46px;
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.service-highlight:before {
  content: "";
  background: var(--color-main);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-highlight__wrap {
  position: relative;
  text-align: center;
  color: var(--white);
}

.service-highlight__sub-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.service-highlight__title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.service-highlight__desc {
  margin-bottom: 34px;
}

.service-highlight__btn {
  display: inline-block;
  background: #FFBD5D;
  color: var(--color-main);
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 5px;
}

.service-highlight__btn:hover {
  background: var(--color-highlight);
  color: var(--white);
}
/* End Box Service Highlight */

/* Box Service Video */
.service-video {
  margin-bottom: 30px;
}

.service-video__head {
  margin-bottom: 30px;
}

.service-video__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 8px;
  text-transform: uppercase;
  text-align: center;
}

.service-video__list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 16px;
  margin-left: -8px;
  margin-right: -8px;
}

.service-video__item {
  flex: none;
  max-width: none;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

.service-video__item:first-child {
  flex: none;
  max-width: none;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.service-video__item-image {
  position: relative;
  padding-top: 56.25%;
}

.service-video__item-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-video__item:first-child .service-video__item-image {
  padding-top: 58.5%;
}

.service-video__item-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0009;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-video__item-icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.service-video__item:first-child .service-video__item-icon img {
  width: 120px;
  height: 120px;
}

@media (max-width: 991px) {
  .service-video__item:first-child .service-video__item-image {
    padding-top: 60%;
  }

  .service-video__item-icon img {
    width: 50px;
    height: 50px;
  }

  .service-video__item:first-child .service-video__item-icon img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .service-video__list {
    grid-template-columns: auto auto;
  }
}
/* End Box Service Video */

/* Service Detail */
.service-detail-tabs {
  display: flex;
  flex-wrap: wrap;
}

.service-detail-tabs a {
  display: inline-block;
  padding: 10px;
}

.service-detail-tabs a.active, .service-detail-tabs a:hover {
  background: var(--color-main);
  color: var(--white);
}

.service-detail-header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #707070;
}

.service-detail-header__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 20px;
}

.service-detail-header__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.service-detail-header__image {
  width: 40%;
  position: relative;
}

.service-detail-header__image img {
  width: 100%;
  height: auto;
}

.service-detail-header__content {
  width: 60%;
  padding-left: 16px;
}

.service-detail-header__sub-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.service-detail-header__desc {
  margin-bottom: 30px;
}

.service-detail-header__desc p {
  margin-bottom: 6px;
}

.service-detail-header__btn--main {
  display: inline-block;
  background: var(--color-main);
  color: var(--white);
  padding: 12px 30px;
  font-weight: 600;
}

.service-detail-header__btn--main:hover {
  color: var(--white);
}

.service-detail-header__btn--highlight {
  display: inline-block;
  background: #FFBD5D;
  color: var(--color-main);
  padding: 12px 30px;
  font-weight: 600;
}

.service-detail-header__btn--highlight:hover {
  color: var(--color-main);
}

.service-detail-header__btn a {
  margin-right: 20px;
}

.service-detail-main__title {
  font-size: 36px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 20px;
  text-align: center;
}

.service-detail-main__content {
  background: #F2F2F2;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

@media (max-width: 991px) {
  .service-detail-header__image {
    width: 100%;
  }

  .service-detail-header__content {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .service-detail-header__btn a {
    margin-right: 10px;
  }

  .service-detail-header__btn--main, .service-detail-header__btn--highlight {
    padding: 12px 20px;
    font-size: 14px;
  }
}
/* End Service Detail */

/* Blog Detail */
.blog-detail {
  padding-bottom: 60px;
  margin-bottom: 60px;
  border-bottom: 1px solid #DBDBDB;
}

.blog-detail__main {
  background: #F9F9F9;
  padding: 16px 8px;
  margin-bottom: 16px;
}

.blog-detail__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 16px;
}

.blog-detail__desc {
  font-weight: 600;
}

.blog-detail__content {
  margin-top: 16px;
}

.blog-detail__content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.blog-detail__content h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 16px;
}

.blog-detail__content p {
  margin-bottom: 10px;
}
/* End Blog Detail */

/* Box Banner Text */
.box-banner-text {
  position: relative;
  padding: 120px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-banner-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-main);
  opacity: 0.72;
}

.box-banner-text__content {
  text-align: center;
  color: var(--white);
  position: relative;
}

.box-banner-text__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-banner-text__desc {
  margin-top: 16px;
}
/* End Box Banner Text */

/* Category Product */
.category-product {
  border: 1px solid #E6E6E6;
  margin-bottom: 30px;
}

.category-product__title {
  background: var(--color-main);
  color: var(--white);
  padding: 10px 16px;
  font-size: 20px;
  font-weight: 600;
}

.category-product__item-title {
  padding: 10px 16px;
  background: #F2F2F2;
  color: var(--color-main);
  font-weight: 600;
  display: block;
}

.category-product__item-sub {
  padding: 0 16px;
}

.category-product__item-sub a {
  padding: 10px 0;
  display: block;
  color: var(--color-text);
  border-bottom: 1px solid #CFCFCF;
}

.category-product__item-sub a:last-child {
  border-bottom: 0;
}

.category-product__item-sub a.active, .category-product__item-sub a:hover {
  font-weight: 600;
}
/* End Category Product */

/* Order By */
.order-by {
  background: #F2F2F2;
  padding: 8px 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.order-by__title {
  margin-right: 8px;
}

.order-by__dropdown select {
  background: var(--white);
  border: 0;
  padding: 8px;
  min-width: 180px;
}
/* End Order By */

/* Box Products */
.box-product__item {
  border: 1px solid #F2F2F2;
  padding: 8px;
  height: 100%;
}

.box-product__item-image {
  position: relative;
  padding-top: 140%;
}

.box-product__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box-product__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #092169b8;
  display: none;
}

.box-product__item:hover .box-product__item-overlay {
  display: flex;
}

.box-product__item-overlay a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-text);
  background: var(--white);
  padding: 8px 16px;
}

.box-product__item-overlay a i {
  margin-right: 8px;
}

.box-product__item-overlay a:hover {
  color: var(--white);
  background: var(--color-main);
}

.box-product__item-content {
  margin-top: 8px;
}

.box-product__item-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.box-product__item-title a {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
}

.box-product__item-title a:hover {
  color: var(--color-main);
}

.box-product__item-price {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.box-product__item-price-new {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-main);
  margin: 4px 0;
}

.box-product__item-price-old {
  font-size: 14px;
  color: var(--color-text);
  text-decoration: line-through;
  margin: 4px 0;
}

.box-product__item-stars {
  margin-top: 8px;
  font-size: 12px;
  color: var(--yellow);
}
/* End Box Products */

/* Product Detail */
.product-detail-main__wrap {
  background: #F9F9F9;
  padding: 16px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

.product-detail-main__images {
  width: 44%;
  position: relative;
}

.product-detail-main__images-thumbs {
  float: left;
  width: calc(20% - 16px);
  height: 500px;
  margin-right: 16px;
}

.product-detail-main__images-thumbs .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.product-detail-main__images-thumbs img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-detail-main__images-thumbs .swiper-slide-active {
  border: 1px solid grey;
}

.product-detail-main__images-thumbs .swiper-slide:hover {
  border: 1px solid grey;
}

.product-detail-main__images-top {
  float: right;
  width: 80%;
  height: 500px;
  position: relative;
}

.product-detail-main__images-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-detail-main__images-top .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.product-detail-main__content {
  width: 56%;
  padding-left: 30px;
}

.product-detail-main__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 20px;
}

.product-detail-main__attribute {
  display: flex;
  flex-wrap: wrap;
}

.product-detail-main__attribute-item {
  width: 50%;
  margin-bottom: 12px;
}

.product-detail-main__rating {
  font-size: 14px;
  color: var(--yellow);
}

.product-detail-main__desc {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding: 16px 0;
  margin: 16px 0;
}

.product-detail-main__desc p {
  margin-bottom: 8px;
}

.product-detail-main__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product-detail-main__price span {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-main);
}

.product-detail-main__quantity {
  display: flex;
  align-items: center;
}

.product-detail-main__quantity label {
  margin-bottom: 0;
  margin-right: 8px;
  font-weight: 600;
}

.box-quantity {
  background: var(--white);
  border: 1px solid #D9D9D9;
}

.box-quantity .btn-sub, .box-quantity .btn-add {
  background: none;
  border: 0;
  font-size: 12px;
  width: 32px;
}

.box-quantity input {
  border: 0;
  width: 60px;
  text-align: center;
}

.box-quantity input::-webkit-outer-spin-button,
.box-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-detail-main__share a {
  background: var(--blue);
  color: var(--white);
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.product-detail-main__share a i {
  margin-right: 8px;
}

.product-detail-main__btn a {
  margin-bottom: 16px;
}

.btn-buy-now {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: var(--color-main);
  color: var(--white);
  padding: 12px;
}

.btn-buy-now:hover {
  color: var(--white);
}

.btn-add-to-cart {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background: #FFBD5D;
  color: var(--color-main);
  padding: 12px;
}

.btn-add-to-cart:hover {
  color: var(--color-main);
}

.product-detail-content {
  background: #F9F9F9;
  padding: 16px;
  margin-bottom: 30px;
}

.product-detail-content h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 16px;
}

.product-detail-content img {
  max-width: 100%;
  margin-bottom: 16px;
}

.product-related__title {
  background: #F9F9F9;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-main);
  text-transform: uppercase;
  padding: 8px 16px;
}

@media (max-width: 991px) {
  .product-detail-main__wrap {
    flex-wrap: wrap;
  }

  .product-detail-main__images {
    width: 100%;
  }

  .product-detail-main__content {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .product-detail-main__attribute-item {
    width: 100%;
  }

  .product-detail-main__footer {
    flex-wrap: wrap;
  }

  .product-detail-main__price {
    margin-right: 16px;
  }

  .product-detail-main__quantity {
    margin: 16px 16px 16px 0;
  }
}

@media (max-width: 480px) {
  .product-detail-main__images-thumbs {
    float: left;
    width: calc(20% - 16px);
    height: 300px;
    margin-right: 16px;
  }

  .product-detail-main__images-top {
    width: 80%;
    height: 300px;
  }
}
/* End Product Detail */

/* Banner Full */
.banner-full img {
  width: 100%;
  height: auto;
}
/* End Banner Full */

/* Box Maps */
.box-maps {
  position: relative;
  padding-top: 500px;
  margin-bottom: -36px;
}

.box-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End Box Maps */

/* Box Contact */
.box-contact {
  margin-top: 60px;
  margin-bottom: 60px;
}

.box-contact__wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 8px;
  border-radius: 10px;
}

.box-contact__info {
  width: 30%;
  background-image: url(../images/background/bg-contact.jpg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 400px;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  color: var(--white);
}

.box-contact__info-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.box-contact__info-address {
  margin-bottom: 48px;
}

.box-contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.box-contact__info-item i {
  font-size: 20px;
  margin-right: 12px;
  color: #FFBD5D;
}

.box-contact__info-social a {
  color: var(--white);
  margin-right: 8px;
  font-size: 20px;
}

.box-contact__info-social {
  margin-top: 90px;
}

.box-contact__info-social a:hover {
  color: #FFBD5D;
}

.box-contact__form {
  width: 70%;
  padding-left: 16px;
}

.box-contact__form h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.box-contact__form .form-group {
  margin-bottom: 30px;
}

.box-contact__form .form-group > label {
  font-weight: 600;
  color: var(--color-main);
  margin-bottom: 0;
}

.box-contact__form .form-control {
  border: 0;
  border-bottom: 1px solid #CBCACA;
  border-radius: 0;
}

.box-contact__form input, .box-contact__form select {
  height: 32px;
}

.box-contact__form-check {
  display: flex;
  flex-wrap: wrap;
}

.box-contact__form-check .form-check {
  margin-right: 20px;
  margin-bottom: 8px;
}

.box-contact__form-check input {
  height: auto;
}

.box-contact__form-btn {
  background: var(--color-main);
  color: var(--white);
  padding: 12px 30px;
  border: 0;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .box-contact__info {
    width: 100%;
    margin-bottom: 16px;
  }

  .box-contact__form {
    width: 100%;
  }
}
/* End Box Contact */

/* Courses */
.courses__title {
  padding: 3px 0 3px 15px;
  border-left: 3px solid #005b99;
  border-bottom: 1px solid #959595;
  margin-bottom: 20px;
}

.courses__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  color: #414042;
}

.courses__item:nth-child(even) {
  background: #f1f1f1;
}

.courses__item a {
  color: #414042;
}

.courses__item a:hover {
  color: var(--color-main);
}

.courses__item-title {
  width: 50%;
  padding: 8px;
}

.courses__item-date {
  width: 16%;
  padding: 8px;
  text-align: center;
}

.courses__item-time {
  width: 12%;
  padding: 8px;
  text-align: center;
}

.courses__item-download {
  width: 12%;
  padding: 8px;
  text-align: center;
  position: relative;
}

.courses__item-download:before {
  content: "\f56d";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  padding-right: 6px;
  font-size: 16px;
}

.courses__item-register {
  width: 10%;
  padding: 8px;
  text-align: center;
}

@media (max-width: 767px) {
  .courses__item-title {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #f9f9f9;
  }

  .courses__item-date {
    width: 25%;
  }

  .courses__item-time {
    width: 25%;
  }

  .courses__item-download {
    width: 25%;
  }

  .courses__item-register {
    width: 25%;
  }
}

@media (max-width: 480px) {
  .courses__item-date {
    width: 50%;
  }

  .courses__item-time {
    width: 50%;
  }

  .courses__item-download {
    width: 50%;
  }

  .courses__item-register {
    width: 50%;
  }
}
/* End Courses */

/* Course Tabs */
.course-tabs {
  background: #e5e5e5;
}

.course-tabs__wrap {
  text-align: center;
}

.course-tabs a {
  display: inline-block;
  padding: 10px 16px;
  color: var(--color-highlight);
}

.course-tabs a.active, .course-tabs a:hover {
  background: var(--color-main);
  color: var(--white);
}
/* End Course Tabs */

/* Course Detail */
.course-detail__main {
  margin-bottom: 30px;
}

.course-detail__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-main);
  text-transform: uppercase;
}

.course-detail__info-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-highlight);
}

.course-detail__info-main {
  background: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  border-top: 5px solid var(--color-main);
}

.course-detail__info-table {
  font-size: 14px;
  margin-bottom: 10px;
}

.course-detail__info-table tr td {
  padding: 5px 0;
  vertical-align: top;
}

.course-detail__info-table tr td:nth-child(1) {
  width: 100px;
}

.course-detail__info-table tr td:nth-child(2) {
  width: 10px;
}

.course-detail__info-note {
  font-size: 13px;
  font-style: italic;
}

.course-detail__info-button a {
  margin-top: 20px;
  display: block;
}

@media (max-width: 1199px) {
  .course-detail__info-table tr td:nth-child(1) {
    width: 82px;
  }
}

@media (max-width: 991px) {
  .course-detail__left {
    order: 2;
  }

  .course-detail__left {
    order: 1;
  }
}
/* End Course Detail */

/* Course Register */
.course-register {
  margin-bottom: 30px;
}

.course-register__desc {
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

.course-register__note {
  color: var(--red);
  font-style: italic;
  margin-bottom: 20px;
}
/* End Course Register */

/* Thematic Item */
.thematic-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/4.14;
  margin-bottom: 16px;
}

.thematic-item__image {
  width: 100%;
  height: 100%;
}

.thematic-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 100px;
}

.thematic-item__content {
  width: 66%;
  height: 100%;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.4s width;
  -moz-transition: 0.4s width;
  -ms-transition: 0.4s width;
  -o-transition: 0.4s width;
  transition: 0.4s width;
  background: #eee;
  overflow: hidden;
  padding: 15px 20px;
}

.thematic-item:hover .thematic-item__content {
  width: 85%;
}

.thematic-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: var(--color-main);
}

.thematic-item__desc {
  overflow: hidden;
  margin-bottom: 15px;
}

.thematic-item__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-main);
  text-transform: uppercase;
  position: relative;
}

.thematic-item__link:before {
  content: '';
  display: block;
  top: -6px;
  box-shadow: 1px -9px 4px 9px #eee;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: auto;
}

.thematic-item__link i {
  margin-left: 6px;
}
/* End Thematic Item */